<!-- Author: Rishika Dubey | Version: 1.0.0 | Date: 2025-01-14 -->
<div class="toolbar">
  <div class="p-3">Employee List</div>
</div>

<div class="content">
  <div *ngIf="currEmployeeList.length" class="w-100 list-container">
    <div class="p-3 heading-background">Current employees</div>
    <ul class="card-list">
      <div class="card d-flex" *ngFor="let employee of currEmployeeList">
        <li class="card-item" [ngClass]="{'swiped-left': employee.showTrash}" [employeeId]="employee.id"
          (swipeLeft)="onSwipeLeft($event, employee.id)" (swipeRight)="onSwipeRight($event, employee.id)" touchStart
          touchEnd>
          <div class="employee-content" (click)="editEmployeeDetails(employee.id)">
            <h3 class="card-title">{{employee.employeeName}}</h3>
            <p class="card-subtitle">{{employee.employeeRole?.label}}</p>
            <p class="card-date">From {{employee.startDate | date: 'd MMM, y'}}</p>
          </div>
          <div class="d-flex align-items-center trash-icon" (click)="deleteUser(employee.id)">
            <i class="pi pi-trash"></i>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <div *ngIf="prevEmployeeList.length" class="w-100 list-container">
    <div class="p-3 heading-background">Previous employees</div>
    <ul class="card-list">
      <div class="card d-flex" *ngFor="let employee of prevEmployeeList">
        <li class="card-item" [employeeId]="employee.id" [ngClass]="{'swiped-left': employee.showTrash}"
          (swipeRight)="onSwipeRight($event, employee.id)" (swipeLeft)="onSwipeLeft($event, employee.id)" touchStart
          touchEnd>
          <div class="employee-content" (click)="editEmployeeDetails(employee.id)">
            <h3 class="card-title">{{employee.employeeName}}</h3>
            <p class="card-subtitle">{{employee.employeeRole?.label}}</p>
            <p class="card-date">{{employee.startDate | date: 'd MMM, y'}} - {{employee.endDate | date: 'd MMM, y'}}</p>
          </div>
          <div class="d-flex align-items-center trash-icon" (click)="deleteUser(employee.id)">
            <i class="pi pi-trash"></i>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <div *ngIf="isTouchDevice() && (currEmployeeList.length || prevEmployeeList.length)" class="p-3 swipe-banner">Swipe left
    to delete</div>

  <div *ngIf="!currEmployeeList.length && !prevEmployeeList.length" class="m-auto">
    <img src="../assets/image/noUser.svg" alt="No Employee" width="250" height="250" />
  </div>

</div>
<div class="footer">
  <div class="button-container">
    <img src="../assets/image/addUser.svg" alt="No Employee" width="50" height="50" (click)="addUser()" />
  </div>

  <div *ngIf="showMessage()" class="toast-message">
    <p-messages [(value)]="messages" [enableService]="false" [closable]='false' />
    <button class="undo-button" (click)="undoLastDelete()">Undo</button>
  </div>

</div>
