// Author: Rishika Dubey | Version: 1.0.0 | Date: 2025-01-14
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1da1f2;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 60px auto 32px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.button-container {
  position: relative;
  justify-content: end;
  display: flex;
  margin: 20px;

}

.card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 0;
  overflow: hidden;
  gap: 1em;
}

.card {
  flex-direction: row;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #e0e0e0;
  border-radius: 0;
  display: flex;
}

.card-item .employee-content {
  flex-grow: 1;
  width: 100%;
  transition: transform 0.3s ease;
  padding: 16px;
}
.card-item.swiped-left .employee-content {
  transform: translateX(-20%);
}

.card-item {
  flex: 1;
  position: relative;
  display: flex;
  overflow: hidden;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #323238;
}

.card-subtitle {
  font-size: 14px;
  color: #949c9e;
  font-weight: 400;
  margin: 5px 0;
}

.card-date {
  font-size: 12px;
  color: #949c9e;
  font-weight: 400;
  margin: 0;
}

.trash-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.card-item.swiped-left .trash-icon {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease;
}

.card-item > .trash-icon:hover {
  background-color: darkred;
}

.trash-icon i {
  font-size: 18px;
}

.heading-background {
  background: #f2f2f2;
  color: #1da1f2;
  font-weight: 600;
  font-size: 16px;
  height: 56px;
  display: flex;
  align-items: center;
}

.swipe-banner {
  background: #f2f2f2;
  font-size: 15px;
  color: #949c9e;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 70px;
}

li.card-item:hover {
   .trash-icon {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s ease;
  }
}

.toast-message {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  background: #323238;
  .undo-button {
    background: none;
    color: #1da1f2;
    box-shadow: none;
    border: none;
    padding: 0 15px;
  }
}
