<div class="toolbar">
  <div class="p-3">{{employeeId ? 'Edit Employee Details' : 'Add Employee Details'}}</div>
</div>
<div class="content">
  <form [formGroup]="employeeInfoForm">
    <div class="flex justify-center w-100">
      <div class="mb-3 input-group">
        <i class="pi pi-user"></i>
        <input type="text" pInputText placeholder="Enter username" [formControlName]="'employeeName'" />
      </div>
      <div class="mb-3 input-group">
        <i class="pi pi-briefcase"></i>
        <input type="text" pInputText placeholder="Select role" [formControlName]="'role'"
          (click)="openBottomSheet()" />
        <i class="pi pi-caret-down-filled"></i>
      </div>
      <input type="hidden" formControlName="employeeRole" />
      <div class="d-flex justify-content-between align-items-center">
        <div class="input-group">
          <p-calendar #calendarStartDate inputStyleClass="calender-input" [touchUI]="true" styleClass="calender"
            [showIcon]="true" inputId="startDate" [formControlName]="'startDate'" dateFormat="dd M yy"
            (onFocus)="onDateFocus(employeeInfoForm.controls['startDate'].value)"
            [hideOnDateTimeSelect]="false">
            <ng-template pTemplate="header">
              <div class="d-flex cal-header">
                <button *ngIf="!employeeInfoForm.controls['startDate'].value" class="secondary" label="No Date" severity="secondary" (click)="selectNoDate()">
                  No Date
                </button>
                <button class="secondary" label="Today" (click)="selectToday()">
                  Today
                </button>
                <ng-container *ngIf="employeeInfoForm.controls['startDate'].value">
                  <button class="secondary" label="Next Monday"
                    (click)="selectNextMonday(employeeInfoForm.controls['startDate'].value)">
                    Next Monday
                  </button>
                  <button class="secondary" label="Next Tuesday"
                    (click)="selectNextTuesday(employeeInfoForm.controls['startDate'].value)">
                    Next Tuesday
                  </button>
                  <button class="secondary" label="After 1 week" severity="secondary"
                    (click)="selectAfterOneWeek(employeeInfoForm.controls['startDate'].value)">
                    After 1 week
                  </button>
                </ng-container>
              </div>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="d-flex cal-footer">
                <div class="button-container justify-content-between">
                  <span>
                    <i class="pi pi-calendar-times"></i>
                    <span *ngIf="employeeInfoForm.controls['startDate'].value">{{
                      employeeInfoForm.controls["startDate"].value
                      | date : "d MMM y"
                      }}</span>
                    <span *ngIf="!employeeInfoForm.controls['startDate'].value">No Date</span>
                  </span>
                  <div class="d-flex btns">
                    <button class="secondary" label="Cancel" severity="secondary"
                      (click)="onDateCancel(calendarStartDate, 'startDate')">
                      Cancel
                    </button>
                    <button class="primary" label="Save" (click)="onDateSave(calendarStartDate)">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-calendar>
        </div>

        <div class="d-flex justify-center align-items-center">
          <i class="m-3 pi pi-arrow-right" style="color: #1da1f2"></i>
        </div>
        <div class="input-group">
          <p-calendar #calendarEndDate inputStyleClass="calender-input" [touchUI]="true" styleClass="calender"
            [showIcon]="true" inputId="endDate" [formControlName]="'endDate'" dateFormat="dd M yy"
            [hideOnDateTimeSelect]="false" [minDate]="employeeInfoForm.controls['startDate'].value" (onFocus)="onDateFocus(employeeInfoForm.controls['endDate'].value)">
            <ng-template pTemplate="header">
              <div class="d-flex cal-header">

                <button #noDateBtn *ngIf="!employeeInfoForm.controls['endDate'].value" class="secondary" label="No Date"
                  severity="secondary" (click)="selectNoDate()">
                  No Date
                </button>
                <button class="secondary" label="Today" (click)="selectToday()">
                  Today
                </button>
                <ng-container #calender *ngIf="employeeInfoForm.controls['endDate'].value">
                  <button class="secondary" label="Next Monday"
                    (click)="selectNextMonday(employeeInfoForm.controls['endDate'].value)">
                    Next Monday
                  </button>
                  <button class="secondary" label="Next Tuesday"
                    (click)="selectNextTuesday(employeeInfoForm.controls['endDate'].value)">
                    Next Tuesday
                  </button>
                  <button class="secondary" label="After 1 week" severity="secondary"
                    (click)="selectAfterOneWeek(employeeInfoForm.controls['endDate'].value)">
                    After 1 week
                  </button>
                </ng-container>
              </div>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="d-flex cal-footer">
                <div class="button-container justify-content-between">
                  <span>
                    <i class="pi pi-calendar-times"></i>
                    <span *ngIf="employeeInfoForm.controls['startDate'].value">{{
                      employeeInfoForm.controls["endDate"].value
                      | date : "d MMM y"
                      }}</span>
                    <span *ngIf="!employeeInfoForm.controls['endDate'].value">No Date</span>
                  </span>
                  <div class="d-flex btns">
                    <button class="secondary" label="Cancel" severity="secondary"
                      (click)="onDateCancel(calendarEndDate, 'endDate')">
                      Cancel
                    </button>
                    <button class="primary" label="Save" (click)="onDateSave(calendarEndDate)">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-calendar>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <div class="button-container">
    <p-button class="secondary" label="Cancel" severity="secondary" (click)="onCancel()" />
    <p-button class="primary" label="Save" (click)="onSave()" />
  </div>
</div>
