// Author: Rishika Dubey | Version: 1.0.0 | Date: 2025-01-14
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

p-button > button {
  width: 85px;
  outline: none;
  border: none;
  font-size: 14px;
  height: 36px;
  border-radius: 4px;
}
.primary > button {
  color: #FFFFFF;
  background-color: #1DA1F2;
}
.secondary > button {
  background-color: #EDF8FF;
  color: #1DA1F2;
}
.calender {
    flex-direction: row-reverse;
    button {
      background-color: #fff;
      border: #fff;
      color: #1da1f2;
    }
    button.primary {
    color: #FFFFFF;
    background-color: #1DA1F2;
    }
    button.secondary {
      background-color: #EDF8FF;
      color: #1DA1F2;
    }
    button.secondary:focus {
        color: #FFFFFF;
        background-color: #1DA1F2;
    }
}
.calender-input {
  border: none;
}
.role-dropdown {
  border: none;
}
.p-calendar .p-datepicker {
  border-radius: 16px;
  padding: 24px 16px 16px 16px;
}

.p-inputtext {
  height: 38px;
}
.pi{
    line-height:38px;
    margin: 0 0.5rem 0 0.5rem; /* Add some margin */
}
.input-group {
    align-items: center;
}
.p-element .p-icon-wrapper {
  height: 24px;
    width: 24px;
    margin: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-button-icon-only {
  padding: 0;
  width: 30px;
}
.p-datepicker-touch-ui, .p-calendar .p-datepicker-touch-ui {
  min-width: 90vw;
}
.p-datepicker-title {
  button {
    color: #333;
  }
}
.p-datepicker-today {
  span {
    border: 1px solid #1DA1F2;
    color: #1DA1F2;
    background: white;
  }
}
.p-datepicker-current-day {
  span {
    background: #1DA1F2;
    color: white;
  }
}

.p-datepicker table td > span.p-highlight {
    background: #1DA1F2;
    color: white;
}
.p-datepicker-calendar {
 th {
  text-align: center;
 }
}
.p-message {
  margin: 0;
}
.p-message .p-message-wrapper {
  padding: 0;
  height: 40px;
  color: #fff;
  background: #323238;
}

